FLASK_APP=main.py
ENV_MODE=dev
FLASK_DEBUG=1
APP_PORT=80

SERVER_BASE_URL=localhost/api/

NGINX_FORWARD_PORT=80

MYSQL_DATABASE=file-management-app
MYSQL_HOST=mysql
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=lhoang
MYSQL_PASSWORD=123456
MYSQL_FORWARD_PORT=3306
SEND_REPORT=false

EMAIL_USER=youremail@gmail.com
EMAIL_PASSWORD=password

TOKEN_UPTIME=1
SECRET_KEY=secret_key

IS_TESTING_ENV=False